@import "tailwindcss";

@theme {
     --color-cream: #fff1e1;
     --color-cream-hover: #ffedd6;
     --color-midnight: #232a6b;
     --color-midnight-hover: #3a47a8;
   }

body {
  background-color: #fff1e1;
}
